@import url("//fonts.googleapis.com/css?family=Alegreya:400,400italic");
@import url("//fonts.googleapis.com/css?family=Alegreya SC:400,400italic");
@import url("//fonts.googleapis.com/css?family=STIX Two Text:400,400italic");

:root {
	--text: "STIX Two Text", serif;
	--heading: "STIX Two Text", serif;
	--bg-color: #fffaf5;
}

html {
	font-family: var(--text);
	background: var(--bg-color);
}

header {
	margin-bottom: 2em;
}

h1 {
	font-family: var(--heading);
	font-variant: small-caps;
}

h2 {
	font-style: italic;
}

h3 {
	margin: 0em;
	padding-top: 1em;
	padding-bottom: 0em;
}

a, a:visited {
	color: #00aaff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.banner {
	margin-bottom: 2em;
}

.banner img {
	border-radius: 0.3em;
}

.deadline {
	color: red;
	font-weight: bold;
	text-align: center;
	margin: 2em;
}

.speaker-title {
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 0em;
}

.abstract > p::before {
	content: "Abstract:";
	font-style: italic;
	padding-right: 1em;
}

.abstract p {
	font-size: 0.9em;
	margin-top: 0em;
	margin-bottom: 0em;
}

details.shorttalk > summary::before {
	content: "Title:";
	padding-right: 0.5em;
}

details.shorttalk > summary {
	font-style: italics;
}

details.shorttalk > p::before {
	content: "Abstract:";
	padding-right: 0.9em;
}
details.shorttalk > p {
	font-size: 0.9em;
	margin-top: 0em;
	margin-bottom: 0em;
}
details.shorttalk .katex {
	font-size: 1.0em;
}
.footnotes {
	font-size: 0.9em;
	line-height: 0.1em;
}
